In [1]:
!sudo /bin/bash -c "(source /venv/bin/activate; pip install gspread_pandas)"

Collecting gspread_pandas
  Downloading gspread_pandas-3.2.2-py2.py3-none-any.whl (26 kB)
Collecting gspread>=5.0.0
  Downloading gspread-5.10.0-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 1.4 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.20.0 in /venv/lib/python3.8/site-packages (from gspread_pandas) (1.5.1)
Collecting google-auth-oauthlib
  Downloading google_auth_oauthlib-1.0.0-py2.py3-none-any.whl (18 kB)
Collecting google-auth
  Downloading google_auth-2.22.0-py2.py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 10.3 MB/s eta 0:00:01
Requirement already satisfied: decorator in /venv/lib/python3.8/site-packages (from gspread_pandas) (5.1.1)
Requirement already satisfied: pytz>=2020.1 in /venv/lib/python3.8/site-packages (from pandas>=0.20.0->gspread_pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /venv/lib/python3.8/site-packages (from pandas>=0.20.0->gspread_pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /venv/lib/python3.8/site-packages (from pandas>=0.20.0->gspread_pandas) (1.23.4)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: urllib3<2.0 in /venv/lib/python3.8/site-packages (from google-auth->gspread_pandas) (1.26.12)
Requirement already satisfied: six>=1.9.0 in /venv/lib/python3.8/site-packages (from google-auth->gspread_pandas) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /venv/lib/python3.8/site-packages (from google-auth->gspread_pandas) (4.7.2)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.3.1-py3-none-any.whl (9.3 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.3.0-py2.py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 14.0 MB/s eta 0:00:01
Requirement already satisfied: requests>=2.0.0 in /venv/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.28.1)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     |████████████████████████████████| 151 kB 15.2 MB/s eta 0:00:01
Requirement already satisfied: pyasn1>=0.1.3 in /venv/lib/python3.8/site-packages (from rsa<5,>=3.1.4->google-auth->gspread_pandas) (0.4.8)
Requirement already satisfied: idna<4,>=2.5 in /venv/lib/python3.8/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /venv/lib/python3.8/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /venv/lib/python3.8/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.1.1)
Installing collected packages: oauthlib, requests-oauthlib, cachetools, pyasn1-modules, google-auth, google-auth-oauthlib, gspread, gspread-pandas
Successfully installed cachetools-5.3.1 google-auth-2.22.0 google-auth-oauthlib-1.0.0 gspread-5.10.0 gspread-pandas-3.2.2 oauthlib-3.2.2 pyasn1-modules-0.3.0 requests-oauthlib-1.3.1

In [5]:
import gspread_pandas
import pandas as pd

In [6]:
def convert_spreadsheet_to_df(spread_name: str) -> pd.DataFrame:
    spread = gspread_pandas.Spread(spread_name)
    df = spread.sheet_to_df(index=None)
    return df

# Search Export Difference

In [2]:
LI_Search1 = 'search_retired1.search_export.gsheet'
SN_Search5 = 'sn_search5.search_export.gsheet'

In [48]:
LI_Search_df = convert_spreadsheet_to_df(LI_Search1)
LI_Search_df.iloc[1].to_dict()

{'profileUrl': 'https://www.linkedin.com/in/yale-lewis-mba-049a0922',
 'connectionDegree': '3rd',
 'error': '',
 'currentJob': '',
 'job': 'Retired in 2020',
 'location': 'Winchester, VA',
 'url': 'https://www.linkedin.com/in/yale-lewis-mba-049a0922',
 'query': 'https://www.linkedin.com/search/results/people/?contactInterest=%5B%22proBono%22%5D&geoUrn=%5B%2290000097%22%5D&keywords=Retired%20mba&origin=FACETED_SEARCH&schoolFilter=%5B%223638%22%5D&sid=m7r',
 'category': 'People',
 'timestamp': '2023-07-13T15:51:51.384Z',
 'fullName': 'Yale Lewis, MBA',
 'firstName': 'Yale',
 'lastName': 'Lewis, MBA',
 'profileImageUrl': 'https://media.licdn.com/dms/image/C4D03AQGGXPiY2Gy1Sw/profile-displayphoto-shrink_100_100/0/1516993465324?e=1694649600&v=beta&t=4nf-i7u5vxcVrXvNZRaGB-MuuzePNlhf_uTPoS0xiB8',
 'summary': '...Administration (MBA)  Specialties:  Financial Planning...',
 'name': 'Yale Lewis, MBA',
 'additionalInfo': '',
 'pastJob': '',
 'sharedConnections': ''}

In [46]:
SN_Search_df = convert_spreadsheet_to_df(SN_Search5)
print(SN_Search_df)

                                                 query  \
0                                           Search5 SN
1    https://www.linkedin.com/sales/search/people?s...
2    https://www.linkedin.com/sales/search/people?s...
3    https://www.linkedin.com/sales/search/people?s...
4    https://www.linkedin.com/sales/search/people?s...
..                                                 ...
189  https://www.linkedin.com/sales/search/people?s...
190  https://www.linkedin.com/sales/search/people?s...
191  https://www.linkedin.com/sales/search/people?s...
192  https://www.linkedin.com/sales/search/people?s...
193  https://www.linkedin.com/sales/search/people?s...

                    timestamp            error  \
0    2023-07-19T18:00:39.744Z  No result found
1    2023-07-19T18:02:26.834Z
2    2023-07-19T18:02:26.834Z
3    2023-07-19T18:02:26.835Z
4    2023-07-19T18:02:26.835Z
..                        ...              ...
189  2023-07-19T18:02:59.297Z
190  2023-07-19T18:02:59.297Z
191  2023-07-19T18:02:59.297Z
192  2023-07-19T18:02:59.297Z
193  2023-07-19T18:02:59.298Z

                                            profileUrl  \
0
1    https://www.linkedin.com/sales/lead/ACwAABgNPU...
2    https://www.linkedin.com/sales/lead/ACwAAAHVj4...
3    https://www.linkedin.com/sales/lead/ACwAAAE1Yq...
4    https://www.linkedin.com/sales/lead/ACwAAACRHS...
..                                                 ...
189  https://www.linkedin.com/sales/lead/ACwAAB2uxV...
190  https://www.linkedin.com/sales/lead/ACwAABLw4C...
191  https://www.linkedin.com/sales/lead/ACwAAByw7U...
192  https://www.linkedin.com/sales/lead/ACwAABz6z3...
193  https://www.linkedin.com/sales/lead/ACwAABjbWs...

                   fullName   firstName        lastName  \
0
1         Dr. Edgar Noumair   Dr. Edgar         Noumair
2     Maureen Cusick Thomas     Maureen   Cusick Thomas
3                Neil Davis        Neil           Davis
4              Michael Hess     Michael            Hess
..                      ...         ...             ...
189               Rabiah K.      Rabiah              K.
190            Donald Lippi      Donald           Lippi
191  Gregory R. Hainer, MBA  Gregory R.     Hainer, MBA
192   Ashley Santana-Trebes      Ashley  Santana-Trebes
193          Lisa Ann Sears    Lisa Ann           Sears

                                           companyName  \
0
1            Talal and Madiha Zein AUB Innovation Park
2                                       Bethesda Green
3                                     Innovation Works
4                    ABS Advisory Services Group, Inc.
..                                                 ...
189                   Dr. Valaida Wise Consulting, LLC
190                    I. M. Systems Group Inc. (IMSG)
191  Montgomery Village, MD (Washington D.C. Metro ...
192                            sweetFrog Frozen Yogurt
193                             North Arundel Hospital

                       title companyId  ...  \
0                                       ...
1                     Mentor  71418447  ...
2      Innovation Lab Mentor   9287319  ...
3            Business Mentor  11787752  ...
4               Chairman/CEO            ...
..                       ...       ...  ...
189   Educational Consultant  69542811  ...
190        Support Scientist    525212  ...
191  Business and Operations            ...
192             Shift Leader   2901491  ...
193           Clinical Nurse   4165732  ...

                                        vmid  \
0
1    ACwAABgNPUkBxBAF3JxK0VPQmHkYRnrxXzAiHjY
2    ACwAAAHVj44Brlumxgp-o7YP0oARKp_kKER4e6k
3    ACwAAAE1YqQBZoy53iiEXT0Ol-GrNh_0U0dhvqM
4    ACwAAACRHSQB6TCtuIxEce2hAb9lV3NM_GzNPc8
..                                       ...
189  ACwAAB2uxVYB6Qu2IdnkQ37oR3jSFGDlyv4bJww
190  ACwAABLw4CgB_OhhpyG7cOYjvdEjL99k6tnzar8
191  ACwAAByw7UoBJt-xt-KhpDRhEpg7i5iUUwYjP7I
192  ACwAABz6z3QBSNRJQHw4XiQBORGoDw0zLp_TW9M
193  ACwAABjbWsABdlQspCDrhmkjBahAYRs5E6PHtfA

                                    linkedInProfileUrl isPremium isOpenLink  \
0
1    https://www.linkedin.com/in/ACwAABgNPUkBxBAF3J...     FALSE      FALSE
2    https://www.linkedin.com/in/ACwAAAHVj44Brlumxg...      TRUE       TRUE
3    https://www.linkedin.com/in/ACwAAAE1YqQBZoy53i...     FALSE      FALSE
4    https://www.linkedin.com/in/ACwAAACRHSQB6TCtuI...     FALSE      FALSE
..                                                 ...       ...        ...
189  https://www.linkedin.com/in/ACwAAB2uxVYB6Qu2Id...     FALSE      FALSE
190  https://www.linkedin.com/in/ACwAABLw4CgB_Ohhpy...     FALSE      FALSE
191  https://www.linkedin.com/in/ACwAAByw7UoBJt-xt-...     FALSE      FALSE
192  https://www.linkedin.com/in/ACwAABz6z3QBSNRJQH...     FALSE      FALSE
193  https://www.linkedin.com/in/ACwAABjbWsABdlQspC...     FALSE      FALSE

                                      titleDescription  \
0
1
2    The Innovation Lab Mentor Program is designed ...
3    Innovation Works aims to reduce Baltimore’s ne...
4    Manage mergers & acquisitions, corporate and r...
..                                                 ...
189  In a team-based approach, conducts focus group...
190
191  Innovative financial and business compensation...
192  •\tOversee operations of a 20 person staff and...
193                                     Clinical Nurse

    pastExperienceCompanyName pastExperienceCompanyUrl  \
0
1
2
3
4
..                        ...                      ...
189
190
191
192
193

    pastExperienceCompanyTitle pastExperienceDate pastExperienceDuration
0
1
2
3
4
..                         ...                ...                    ...
189
190
191
192
193

[194 rows x 32 columns]

In [15]:
LI_Search_df.columns

Index(['profileUrl', 'connectionDegree', 'error', 'currentJob', 'job',
       'location', 'url', 'query', 'category', 'timestamp', 'fullName',
       'firstName', 'lastName', 'profileImageUrl', 'summary', 'name',
       'additionalInfo', 'pastJob', 'sharedConnections'],
      dtype='object')

In [16]:
SN_Search_df.columns

Index(['query', 'timestamp', 'error', 'profileUrl', 'fullName', 'firstName',
       'lastName', 'companyName', 'title', 'companyId', 'companyUrl',
       'regularCompanyUrl', 'summary', 'industry', 'companyLocation',
       'location', 'durationInRole', 'durationInCompany', 'connectionDegree',
       'profileImageUrl', 'sharedConnectionsCount', 'name', 'vmid',
       'linkedInProfileUrl', 'isPremium', 'isOpenLink', 'titleDescription',
       'pastExperienceCompanyName', 'pastExperienceCompanyUrl',
       'pastExperienceCompanyTitle', 'pastExperienceDate',
       'pastExperienceDuration'],
      dtype='object')

In [29]:
LI_Search_list = LI_Search_df.columns.tolist()
SN_Search_list = SN_Search_df.columns.tolist()

In [32]:
# Create a combined set of all unique elements from both lists
LI_Search_list = LI_Search_df.columns.tolist()
SN_Search_list = SN_Search_df.columns.tolist()
all_elements = list(set( LI_Search_list + SN_Search_list ))

# For each element, check if it is in list1 or list2
presence_in_lists = [(element, int(element in LI_Search_list), int(element in SN_Search_list)) for element in all_elements]

# Create a dataframe from this data
df_presence = pd.DataFrame(presence_in_lists, columns=['Field', 'LinkedIn', 'Sales Navigator'])

df_presence

                         Field  LinkedIn  Sales Navigator
0                         name         1                1
1       sharedConnectionsCount         0                1
2            durationInCompany         0                1
3               durationInRole         0                1
4               additionalInfo         1                0
5            sharedConnections         1                0
6                     fullName         1                1
7                    timestamp         1                1
8                        query         1                1
9                      summary         1                1
10                         job         1                0
11                       title         0                1
12                   companyId         0                1
13                 companyName         0                1
14      pastExperienceDuration         0                1
15             profileImageUrl         1                1
16            titleDescription         0                1
17             companyLocation         0                1
18                    location         1                1
19                  companyUrl         0                1
20           regularCompanyUrl         0                1
21                  isOpenLink         0                1
22                       error         1                1
23                  currentJob         1                0
24                  profileUrl         1                1
25   pastExperienceCompanyName         0                1
26          pastExperienceDate         0                1
27                    industry         0                1
28                    lastName         1                1
29                   isPremium         0                1
30  pastExperienceCompanyTitle         0                1
31                        vmid         0                1
32                    category         1                0
33                   firstName         1                1
34    pastExperienceCompanyUrl         0                1
35          linkedInProfileUrl         0                1
36            connectionDegree         1                1
37                     pastJob         1                0
38                         url         1                0

In [34]:
df_presence['order'] = df_presence['Field'].apply(lambda x: LI_Search_list.index(x) if x in LI_Search_list else SN_Search_list.index(x))
df_sorted_by_original = df_presence.sort_values(by=['LinkedIn', 'order'], ascending=[False, True])

# Drop the 'order' column
df_sorted_by_original = df_sorted_by_original.drop('order', axis=1)
df_sorted_by_original

                         Field  LinkedIn  Sales Navigator
24                  profileUrl         1                1
36            connectionDegree         1                1
22                       error         1                1
23                  currentJob         1                0
10                         job         1                0
18                    location         1                1
38                         url         1                0
8                        query         1                1
32                    category         1                0
7                    timestamp         1                1
6                     fullName         1                1
33                   firstName         1                1
28                    lastName         1                1
15             profileImageUrl         1                1
9                      summary         1                1
0                         name         1                1
4               additionalInfo         1                0
37                     pastJob         1                0
5            sharedConnections         1                0
13                 companyName         0                1
11                       title         0                1
12                   companyId         0                1
19                  companyUrl         0                1
20           regularCompanyUrl         0                1
27                    industry         0                1
17             companyLocation         0                1
3               durationInRole         0                1
2            durationInCompany         0                1
1       sharedConnectionsCount         0                1
31                        vmid         0                1
35          linkedInProfileUrl         0                1
29                   isPremium         0                1
21                  isOpenLink         0                1
16            titleDescription         0                1
25   pastExperienceCompanyName         0                1
34    pastExperienceCompanyUrl         0                1
30  pastExperienceCompanyTitle         0                1
26          pastExperienceDate         0                1
14      pastExperienceDuration         0                1

In [58]:
# Add an example to each field.
# Initialize a dictionary to store example values
LI_example = LI_Search_df.iloc[1].to_dict()
SN_example = SN_Search_df.iloc[3].to_dict()
example_values = {}

# Fill in example values from list1_example and list2_example
for element in df_sorted_by_original['Field']:
    if element in LI_example:
        example_values[element] = LI_example[element]
    elif element in SN_example:
        example_values[element] = '[SN] ' + SN_example[element]
    else:
        example_values[element] = ''

# Add the example values to the dataframe
df_sorted_by_original['Example'] = df_sorted_by_original['Field'].map(example_values)

df_sorted_by_original

,Field,LinkedIn,Sales Navigator,Example
24,profileUrl,1,1,https://www.linkedin.com/in/yale-lewis-mba-049...
36,connectionDegree,1,1,3rd
22,error,1,1,
23,currentJob,1,0,
10,job,1,0,Retired in 2020
18,location,1,1,"Winchester, VA"
38,url,1,0,https://www.linkedin.com/in/yale-lewis-mba-049...
8,query,1,1,https://www.linkedin.com/search/results/people...
32,category,1,0,People
7,timestamp,1,1,2023-07-13T15:51:51.384Z
6,fullName,1,1,"Yale Lewis, MBA"
33,firstName,1,1,Yale
28,lastName,1,1,"Lewis, MBA"
15,profileImageUrl,1,1,https://media.licdn.com/dms/image/C4D03AQGGXPi...
9,summary,1,1,...Administration (MBA) Specialties: Financi...
0,name,1,1,"Yale Lewis, MBA"
4,additionalInfo,1,0,
37,pastJob,1,0,
5,sharedConnections,1,0,
13,companyName,0,1,[SN] Innovation Works
11,title,0,1,[SN] Business Mentor
12,companyId,0,1,[SN] 11787752
19,companyUrl,0,1,[SN] https://www.linkedin.com/sales/company/11...
20,regularCompanyUrl,0,1,[SN] https://www.linkedin.com/company/11787752
27,industry,0,1,[SN] Civic and Social Organizations
17,companyLocation,0,1,"[SN] Baltimore, Maryland, United States"
3,durationInRole,0,1,[SN] 3 years 7 months in role
2,durationInCompany,0,1,[SN] 3 years 7 months in company
1,sharedConnectionsCount,0,1,[SN] 12
31,vmid,0,1,[SN] ACwAAAE1YqQBZoy53iiEXT0Ol-GrNh_0U0dhvqM
35,linkedInProfileUrl,0,1,[SN] https://www.linkedin.com/in/ACwAAAE1YqQBZ...
29,isPremium,0,1,[SN] FALSE
21,isOpenLink,0,1,[SN] FALSE
16,titleDescription,0,1,[SN] Innovation Works aims to reduce Baltimore...
25,pastExperienceCompanyName,0,1,[SN]
34,pastExperienceCompanyUrl,0,1,[SN]
30,pastExperienceCompanyTitle,0,1,[SN]
26,pastExperienceDate,0,1,[SN]
14,pastExperienceDuration,0,1,[SN]

# Profile Export Difference

In [ ]:
LI_Profile1 = 'search_retired1.profile_export.gsheet'
SN_Profile5 = 'sn_search5.profile_export.gsheet'