In [34]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/tick_trades.csv')
print(df)

                            timestamp     trade_id     price    amount  \
0       2023-03-01 00:00:00.295000064  429089835.0   1605.59  0.051726
1       2023-03-01 00:00:00.295000064  429089836.0   1605.60  1.245640
2       2023-03-01 00:00:00.295000064  429089837.0   1605.62  0.080871
3       2023-03-01 00:00:00.295000064  429089838.0   1605.62  0.000953
4       2023-03-01 00:00:00.855000064  429089839.0   1605.58  0.031282
...                               ...          ...       ...       ...
686719  2023-03-01 23:59:56.792999936  504056069.0  23632.25  0.001383
686720  2023-03-01 23:59:57.896000000  504056070.0  23631.87  0.001200
686721  2023-03-01 23:59:58.892000000  504056071.0  23631.50  0.000025
686722  2023-03-01 23:59:59.868999936  504056072.0  23632.12  0.009356
686723  2023-03-01 23:59:59.880999936  504056073.0  23631.52  0.001370

        taker_side_sell currency_pair
0                   0.0       eth-usd
1                   0.0       eth-usd
2                   0.0       eth-usd
3                   0.0       eth-usd
4                   1.0       eth-usd
...                 ...           ...
686719              0.0       btc-usd
686720              0.0       btc-usd
686721              1.0       btc-usd
686722              0.0       btc-usd
686723              1.0       btc-usd

[686724 rows x 6 columns]

In [35]:
# check the anamolies for the data 
duplicateCase = df[df.duplicated(['timestamp', 'trade_id', 'amount'], keep=False)]
duplicateCase

,timestamp,trade_id,price,amount,taker_side_sell,currency_pair
51005,2023-03-01 03:56:22.992999936,429140840.0,1635.84,0.444417,1.0,eth-usd
51006,2023-03-01 03:56:22.992999936,429140840.0,1635.84,0.444417,1.0,eth-usd
51010,2023-03-01 03:56:24.910000128,429140844.0,1635.85,0.135290,0.0,eth-usd
51011,2023-03-01 03:56:24.910000128,429140844.0,1635.85,0.135290,0.0,eth-usd
51012,2023-03-01 03:56:24.910000128,429140844.0,1635.85,0.135290,0.0,eth-usd
...,...,...,...,...,...,...
536259,2023-03-01 15:20:00.836000000,503905610.0,23667.68,0.002105,1.0,btc-usd
536260,2023-03-01 15:20:00.836000000,503905611.0,23667.67,0.079603,1.0,btc-usd
536261,2023-03-01 15:20:00.836000000,503905612.0,23667.67,0.002684,1.0,btc-usd
636252,2023-03-01 20:58:54.976000000,504005603.0,23416.79,0.002410,0.0,btc-usd
636253,2023-03-01 20:58:54.976000000,504005603.0,23416.79,0.002410,0.0,btc-usd

In [36]:
# we drop the columns that has excatly same timestamp, trade_id, and amount
duplicateCase.shape[0]
df.drop_duplicates(subset=["timestamp", "trade_id", "amount"], keep="last", inplace=True)

In [37]:
df

,timestamp,trade_id,price,amount,taker_side_sell,currency_pair
0,2023-03-01 00:00:00.295000064,429089835.0,1605.59,0.051726,0.0,eth-usd
1,2023-03-01 00:00:00.295000064,429089836.0,1605.60,1.245640,0.0,eth-usd
2,2023-03-01 00:00:00.295000064,429089837.0,1605.62,0.080871,0.0,eth-usd
3,2023-03-01 00:00:00.295000064,429089838.0,1605.62,0.000953,0.0,eth-usd
4,2023-03-01 00:00:00.855000064,429089839.0,1605.58,0.031282,1.0,eth-usd
...,...,...,...,...,...,...
686719,2023-03-01 23:59:56.792999936,504056069.0,23632.25,0.001383,0.0,btc-usd
686720,2023-03-01 23:59:57.896000000,504056070.0,23631.87,0.001200,0.0,btc-usd
686721,2023-03-01 23:59:58.892000000,504056071.0,23631.50,0.000025,1.0,btc-usd
686722,2023-03-01 23:59:59.868999936,504056072.0,23632.12,0.009356,0.0,btc-usd
686723,2023-03-01 23:59:59.880999936,504056073.0,23631.52,0.001370,1.0,btc-usd

In [38]:
df.isnull().sum()

timestamp          0
trade_id           0
price              0
amount             0
taker_side_sell    0
currency_pair      0
dtype: int64

The above result showed that now our data frame is working without any anomalies.

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 685506 entries, 0 to 686723
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   timestamp        685506 non-null  object
 1   trade_id         685506 non-null  float64
 2   price            685506 non-null  float64
 3   amount           685506 non-null  float64
 4   taker_side_sell  685506 non-null  float64
 5   currency_pair    685506 non-null  object
dtypes: float64(4), object(2)
memory usage: 36.6+ MB

In [40]:
df.describe()

           trade_id          price        amount  taker_side_sell
count  6.855060e+05  685506.000000  6.855060e+05    685506.000000
mean   4.673604e+08   12852.572434  2.509074e-01         0.409627
std    3.730337e+07   10971.258258  1.024793e+00         0.491765
min    4.290898e+08    1595.000000  1.000000e-08         0.000000
25%    4.292615e+08    1653.090000  2.771265e-03         0.000000
50%    5.037130e+08   23136.760000  2.105114e-02         0.000000
75%    5.038847e+08   23667.490000  1.231579e-01         1.000000
max    5.040561e+08   23999.990000  2.100030e+02         1.000000

In [41]:
df.describe(include="object")

                            timestamp currency_pair
count                          685506        685506
unique                         383357             2
top     2023-03-01 02:14:38.931000064       btc-usd
freq                              255        350019

In [56]:
# check if there is any correlation between different colmuns 
df.corr()

/var/folders/nv/_lx3265n1ylgqznjwtpq7p200000gn/T/ipykernel_8559/1235333285.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                 trade_id     price    amount  taker_side_sell
trade_id         1.000000  0.999929 -0.215521         0.015693
price            0.999929  1.000000 -0.215453         0.015551
amount          -0.215521 -0.215453  1.000000         0.037306
taker_side_sell  0.015693  0.015551  0.037306         1.000000